
#display{
  background-color: white;
  text-align: right;
  height:60px;
  margin:5px;
  border-radius: 5px;
}
.display-text{
  margin-right: 10px;
  padding-top: 16px;
  font-family: monospace;
}

.calculator{
  padding-top: 5px;
  width:50vh;
  height:75vh;
  background-color: black;
  margin: 0 auto;
  border-radius:20px;
}
.buttons{
  text-align: center;
  border-color: black;
}

.firstRow{
  padding-top: 20px;
}
.row{
  width:85px;
  height: 85px;
  font-size: 20px;
  cursor: pointer;
}
.row:hover{
  background-color:grey;
  color:white;
}
#equals{
  width:170px;
}
#decimal{
  font-weight: bold;
}
#clear{
  background-color:red;
}
#equals{
  background-color:blue;
}
#brackets{
  cursor: not-allowed;
}
